//META{"name":"DarkTheme","description":"A nicer 'Dark' theme for Discord, including a revamped roles screen in Server Settings. -- test :)","author":"xSklzx Dark","version":"1.0"}*//

.app {
	background: url(http://i.imgur.com/9MOltGx.jpg) !important;
	background-size: cover !important
}

#friends .friends-table .friends-table-body {
	background: transparent !important;
}

.settings-header {
  background:#213248 !important;

}
.guild-channels ul .channel-text:hover a {
background-color: #1a2838 ;
}

.guild-channels ul .channel-text.selected a {
background-color: #1a2838 !important ;
}

#twitchcord-button {
  background-color: transparent !important;  
  background-image: url(https://openmerchantaccount.com/img2/twitch6aa.png);

}

.twitchcord-button-open {
  background-image: url(https://openmerchantaccount.com/img2/twitch6aa.png) !important;

}

.tab-bar-item {
  color:darkgrey !important;

}

.settings-connections-wrapper {
  background: #1a2838 !important;
  color: white !important;
}

.guild-header ul a {
	color: white !important;
	opacity: 1;
}

.guild-header.guild-header-open ul {
	background: #213248 !important;
	color: white !important;
}


.flex-spacer.flex-vertical {
  background:#213248 !important;

}

.flex-spacer.flex-vertical form {
  background:none !important;

}

.guild-channels {
  background-color:#213248 !important;

}
.chat-empty {
  background:#213248 !important;

}

.active {
  background:#213248 !important;

}

.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations.no-integrations {
  background: #213248 !important;
  color: white !important;
}

.settings .settings-inner .settings-panel-header {
  background: #213248 !important;
  color: white !important;
}

.settings .settings-actions {
	border-top: 0px solid #ffffff;
}

.slider-bar-fill {
	background-color: red
}

.markdown-modal ul li {
	background: #213248 !important;
	color: white !important;
}

#voice-connection .btn-info:after {
	background-color: #535559;
	opacity: 1;
}

#voice-connection .btn:after {
	background-color: #535559;
	opacity: 1;
}

#voice-connection .btn-info:hover:after {
	background-color: #535559;
	opacity: 1;
}

#voice-connection .btn-disconnect:after {
	background-color: #535559;
	opacity: 1;
}

#voice-connection .btn:after {
	background-color: #535559;
	opacity: 1;
}

#voice-connection .btn-disconnect:hover:after {
	background-color: #535559;
	opacity: 1;
}

.markdown-modal .markdown-modal-footer {
	border-top: 0px solid #213248;
}

.markdown-modal .markdown-modal-header {
	border-bottom: 0px solid #213248;
}

.change-log .changelog-added, .change-log .changelog-added-secondary {
	background-color: red !important;
	color: white !important;
}

.settings .settings-inner .settings-panel-with-header {
  background: #213248 !important;
  color: white !important;
}

.change-log .changelog-fixed{
  background-color: red !important;
  color: white !important;
}

.change-log .changelog-in-progress {
	background-color: red !important;
	color: white !important;
}

.user-settings-modal-games .games-table .games-row .item-alert, .user-settings-modal-games .games-table .games-row .item-delete {
  background: #213248 !important;
  color: white !important;
  border-top: 0px solid #213248 !important;
}

.user-settings-modal-games .games-table .games-row .item-game {
  background: #213248 !important;
  color: white !important; 
}

.user-settings-modal .settings-wrapper {
  background: #213248 !important;
  color: white !important;
}

.user-settings-modal-games {
	border-top: 0px solid #213248 !important;
}

.user-settings-modal-games .games-table .games-row .item-game .game-input {
  background: #213248 !important;
  color: white !important;
}

.hover-roll div {
  background: #213248 !important;
  color: white !important;
}

.user-settings-modal-games .games-table .games-row .item-overlay {
  background: #213248 !important;
  color: white !important;
}

.has-value>.Select-control>.Select-value {
  background: #213248 !important;
  color: white !important;
}

.user-settings-locale .select-item .primary {
  background: #213248 !important;
  color: white !important;
}

.user-settings-locale p {
  background: #213248 !important;
  color: white !important;
}

.notice.notice-streamer-mode {
  background: #FF0000 !important;
  color: white !important;
}

.checkbox .checkbox-inner+span {
  color: white !important;
}

.channel-notification-settings .content label {
	color: white !important;
}

.radio-inner+span {
	color: white !important;
}

.form .radio-group .radio {
  color: white !important;
}

.private-channels {
  background:#213248 !important;

}

.settings .settings-inner .settings-panel {
  background:#213248 !important;
}

.user-settings-modal-account .flex-horizontal div {
  background: #213248;
}

.selected {
  background:transparent !important;

}

.guilds-wrapper {
  background:rgba(0,0,0,0.65) !important;

}

.help-container {
  background:#1a2838;

}

.instant-invite-popout section {
  background:#213248 !important;
}

.instant-invite-popout a {
  background:#213248 !important;
  color: white !important;
}

.clipboard-input-inner {
  background:#213248 !important;
  color: white !important;
}

.clipboard-input-inner button.copy {
  background-color:#213248 !important;
  color: white !important;
}

.clipboard-input-inner input {
  background:#213248 !important;
  color: white !important;
}

.clipboard-input-inner button.tweet {
  background-image: url("https://httpsimage.com/img/twitterbird.png");
  background-color: #213248;
  color: white !important;
}

.clipboard-input-inner button:first-of-type:before {
    background: transparent;
}

.instant-invite-popout section p {
  color: white !important;
}

.clipboard-input-inner button.tweet {
  background:#213248 !important;
  color: white !important;
}

.popout header {
  background-color: red !important;
  color: white !important;
}

.streamer-mode-enabled {
  background:#213248 !important;
  color: white !important;
}

.streamer-mode-enabled .streamer-mode-enabled-btn {
  background: red !important;
  color: white !important;
}

.change-log.markdown-modal .scroller-wrap .scroller {
  background:#213248 !important;
  color: white !important;
}

.markdown-modal .scroller-wrap .scroller {
  background:#213248 !important;
  color: white !important;
}

.markdown-modal .markdown-modal-header {
  background:#213248 !important;
  color: white !important;
}

.change-log {
  background:#213248 !important;
  color: white !important;
}

.markdown-modal .markdown-modal-footer {
  background: red !important;
  color: white !important;
}

.form .control-group .help-text {
  background:#213248 !important;
  color: white !important;
}

.radio-inner+span {
  color: white !important;
}

.form .btn-default {
  background-color: #7289da !important;
  color: white !important;
}

.form .btn-primary {
  border-radius: 3px;
  color: white;
}

.form header {
	background:#213248 !important;
	color: white !important;
}

.form .form-inner {
	background: #213248 !important;
	color: white !important;
}

.form .form-actions {
	background: #213248 !important;
	color: white !important;
	border-top: 0px solid #213248 !important;
}

.form .form-header {
	background: #213248 !important;
	color: white !important;
	border-bottom: 0px solid #213248 !important;
}

.form .btn {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  transition: background-color .2s ease;
  position: relative;
  cursor: pointer;
}

.form .btn-default {
	border-bottom: 0px solid #213248 !important;
}

.instant-invites, .instant-invites .instant-invites-header {
	background: #213248 !important;
	color: white !important;
}

.instant-invites .instant-invites-list .instant-invite .show-channel .channel {
	background: #213248 !important;
	color: white !important;
}

.instant-invites .instant-invites-list .instant-invite .code {
	background: #213248 !important;
	color: #FFD500 !important;
}

#voice-connection {
  background:#1a2838;

}

.private-channels .channel .channel-name {
	color: white !important;
	opacity: 1;
}

.private-channels .search-bar {
	border-bottom: 0px solid #213248 !important;
	color: white !important;
	background: #213248;
}

.account {
	border-top: 0.01px solid white !important;
}

.guilds-wrapper .guilds {
	opacity: 1;
	background: #1a2838 !important;
}

.account .btn {
	background-color: #1a2838;
	opacity: 1;
}

.account .btn-mute:hover:after {
    background-color: #1a2838;
    border-right: 0px solid #213248;
    opacity: 1;
}

.account .btn-mute:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-mute.disabled:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-deafen:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-deafen.disabled:hover:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-deafen.disabled:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-deafen:hover:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-deafen:after {
    background-color: #1a2838;
    opacity: 1;
}

.account .btn-settings:hover:after {
	background-color: #1a2838;
	opacity: 1;
}

.account .btn-settings:after {
	background-color: #1a2838;
	opacity: 1;
}

.theme-dark .chat .title-wrap {
	background: #1a2838 !important;
}

.account .btn-settings {
	background-color: #1a2845;
}

#settings-roles .roles .scroller {
	background: #213248 !important;
	color: white !important;
	border-left: 0px solid #ffffff;
	border-bottom: 1px solid #ffffff !important;
}

#settings-roles .roles header {
	background: #213248 !important;
	color: white !important;
	opacity: 1;
	border-bottom: 0px solid #ffffff !important;
	border-left: 0px solid #ffffff !important;
	margin-left: 20px !important;
}

.messages-wrapper {
	background:transparent !important;
}

.protip .label {
	color: red !important;
}

.tab-bar.SIDE {
	margin-right: -16px;
}

.guild-settings-modal-members {
	background-color: #213248 !important;
	color: white !important;
}

.member-roles .member-role>.name {
	color: black !important;
}

.protip.modal-footer {
	color: white;
}

#settings-roles .roles {
	background: #213248 !important;
	color: white !important;
}

#settings-roles .selected-role .selected-role-inner {
	background: #213248 !important;
	color: white !important;
}

.checkbox .checkbox-inner+span {
	background: transparent !important;
	color: white !important;
}

.settings .settings-inner .user-settings-modal-games-header {
	border-bottom: 0px solid #213248 !important;
}

.theme-dark #friends .friends-header {
	background-color: #1a2838;
	border-bottom: 0px solid #213248 !important;
	box-shadow: none;
}

.account {
  background:#1a2838 !important;
  opacity: 1;
  border-top: 0px solid #213248 !important;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-header {
	background: #213248;
	color: white !important;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p {
	color: white !important;
}

.links {
  background:#213248;

}

.markup {
  color:white !important;

}

.guild-header header{
  background:#1a2838 !important;

}

.channel-members {
  background:#1a2838 !important;

}

.settings-actions {
  background:#213248 !important;

}


.checkbox-inner+span {
  color:black !important;

}

.guild-header span {
  color:white !important;

}

.title-wrap {
  background:#1a2838 !important;

}

.typing {
  background:transparent !important;

}

.help-container:after {
  background:none !important;

}

.divider.divider-red span {
  color:white !important;
  background:transparent !important;

}

.btn-group .btn{
  background:black !important;

}

.guilds-add {
   width:100%;
   height:100%;
   border-radius:50%;
   background:#213248;
   color:#535559;
   border:1px dashed #535559

}


#emote-menu {
  background:#213248 !important;
  border:1px solid black;

}

#emote-menu-header span {
  background:#213248 !important;
  color:#213248;

}

.channel-textarea-autocomplete {
  background: #224477 !important;

}

.channel-textarea-autocomplete-inner {
  background: #224477 !important;

}

.channel-textarea-autocomplete-inner header {
  background: #224477 !important;
  color:white !important;

}

.channel-textarea-autocomplete-inner ul li.active {
  background:grey !important;
  color:white !important;
}

.channel-textarea-autocomplete-inner ul li {
  color:white !important;

}

.user-popout header {
  background:#213248 !important;

}


.user-popout .user-popout-options .btn {
  background:#213248 !important;
  border:1px solid black

}

.channel-textarea-autocomplete-inner{
  border-color:#213248 !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
  background:#213248 !important;
  border-color:white;

}

.form .control-group label {
  background: #213248;
  color: white !important;

}

.form .control-group input[type=email], .form .control-group input[type=number], .form .control-group input[type=password], .form .control-group input[type=text], .form .control-group textarea {
  background: #213248 !important;
  color: white !important;
}

.form .control-group .help-text {
  color:#213248;

}

.radio .radio-inner span:after {
  background:#213248 !important;

}

.chat .avatar-large {
     width: 45px;
     height: 45px;
     background-size: cover !important;
     border-radius: 30%;
}


.guild-channels .channel-voice-states li .avatar-small {
     background-size: cover !important;
     border-radius: 30%;
}

.bot-tag {

}

.member-role {
  color:#213248 !important;

}

.tooltip[data-reactid=".0.2.$1"] {
  background:black;

}

.tooltip[data-reactid=".0.2.$2"] {
  background:black;

}

.tooltip[data-reactid=".0.2.$3"] {
  background:black;

}

.guild-channels ul .channel-text:before {
  border-left:4px solid green !important;

}

.channel-members .invite-btn {
  background:#213248;

}

.guild-channels ul .channel-text:hover {
  background:black !important;
}

.messages-wrapper {
  background:transparent !important;
}

.friends-table {
  background:transparent !important;
}

.alert-form {
  background:transparent !important;
}


#friends {
  background:transparent !important;
}

.guild-channels ul .channel-text.selected a {
background-color: #213248;
}

.tooltip-top:after, .tooltip-right:after {
  border-top-color:#213248 !important;
  border-right-color:#213248 !important;
}

.tooltip {
  background:red !important;

}

.guild-channels ul .channel-text .channel-name:before {
  color:white !important;

}

.guild-channels ul .channel-text.channel-muted:not(.selected) a {
  opacity: 1;

}

.guild-channels ul .channel-text.selected a {
  background-color:black;

}

.guilds li.active .guild-inner {
  background:black !important;

}

.guilds li.active .guild-inner, .guilds li:hover .guild-inner {
  background:black !important;

}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border: 1px solid #1A2838 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background: #1A2838 !important; 
    border: 1px solid grey !important;
}