//META{"name":"DarkTheme","description":"A nicer Dark theme for Discord, remade into something spectacular with frequent updates.","author":"xSklzx Dark","version":"0.0"}*//{}

.theme-dark .message-group:not(.has-divider) {
	background: rgb(0, 0, 0);
}

.chat .messages {
    background-color: rgb(0, 0, 0);
}

.chat .empty-message h1 {
    color: white;
}

.flex-horizontal>.flex-spacer {
    background-color:rgb(0, 0, 0);
}

.theme-dark .channel-textarea-inner {
    background-color: rgb(0, 0, 0);
	opacity: 1;
    color: white !important;
}

.theme-dark .chat form .typing {
    background: transparent !important;
}

.theme-dark .message-group .comment .markup {
    color: white;
}

.channel-textarea-inner textarea {
    color: white;
    background-color: rgb(0, 0, 0);
}

.theme-dark .channel-textarea-inner textarea {
    background: transparent;
    color: rgb(255, 255, 255);
}

.bot-tag {
    background-color: red;
}

.chat .avatar-large {
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 30%;
}

.account {
    background: black;
    border-top: 1px solid #2e3033;
}

.scroller-wrap .scroller {
    background: black;
}

.guild-channels .channel-text.selected a {
    background-color: #000000;
}

.guild-channels .channel-text .channel-name {
    color: white;
}

.guild-channels .channel .channel-name {
    color: white;
    opacity: 1;
}

.guild-channels .channel-text:hover a {
    background: transparent;
}

.guild-channels .channel a:hover {
    background: transparent;
}

.theme-dark .friends-table .messages .divider span, .theme-dark .friends-table .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before {
    background-color: red;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: white;
}

.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background-color: red;
}

.theme-dark .chat .title-wrap {
    background: black;
    border-bottom: 3px solid white;
}

.guild-header header {
    background: black;
    border-bottom: 3px solid white;
    padding-bottom: 25.5px;
}

.theme-dark .channel-members h2 {
    color: white;
}

.channel-members .avatar-small {
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 30%;
}

.theme-dark .channel-textarea-autocomplete-inner {
    background: black;
}

.theme-dark .channel-textarea-autocomplete-inner header {
    background: black;
    color: white;
}

.channel-textarea-autocomplete-inner ul li {
    color: white;
}

.channel-textarea-autocomplete-inner .command-description {
    color: white;
}

.popout-menu .popout-menu-item {
    background: black;
}

.popout-menu .popout-menu-item-label {
    color: white;
}

.popout-menu .popout-menu-icon {
    color: white;
}

.popout-menu .popout-menu-item:hover {
    background: black;
}

.form .control-group input[type=text], .form .control-group input[type=email], .form .control-group input[type=password], .form .control-group input[type=number], .form .control-group textarea {
    background: black;
    color: white;
}

.has-value>.Select-control>.Select-placeholder {
    color: white;
    opacity: 1;
}

.form .control-group {
    background: black;
    color: white;
}

.form .control-group label {
    color: red;
}

.settings .settings-actions {
    background-color: black;
    border-top: 0.5px solid #fff;
}

.tab-bar.SIDE {
    background-color: black;
    color: white;
}

.tab-bar.SIDE .tab-bar-item {
    color: white;
    opacity: 1;
}

.tab-bar.SIDE .tab-bar-item:before {
    border-left: 4px solid #ff0000;
}

.form .control-group .help-text {
    color: white;
    opacity: 1;
}

.guild-settings-modal-overview .settings-panel .verification-level-select .radio-group li .criteria {
    color: white;
    opacity: 1;
}

.guild-settings-modal-overview .settings-panel .verification-level-select .radio-group li.level-0 {
 	color: white;
    opacity: 1;
}

.form .control-group .help-text a {
    color: red;
}

.form .form-inner {
    background-color: black;
    border-top: 0px solid #fff;
}

.form .form-header {
    background: black;
    color: red;
    border-bottom: 0px solid #fff;
}

.form .form-actions {
    background-color: black;
    border-top: 0px solid #fff;
}

.form header {
    color: red;
}

.form .Select-placeholder {
    background: black;
    color: white;
}

.form .Select-option, .form .has-value .Select-placeholder {
    background: black;
    color: white;
}

.form .Select-option.is-focused {
    background: black;
   	color: white;
}

.notification-settings-modal .settings-section {
    background-color: black;
}

.form .control-groups+.control-group, .form .control-groups+.control-groups {
    background-color: black;
}

.notification-settings-modal .notification-settings-modal-channel-settings-header {
    background-color: black;
}

.form .control-groups+.control-group, .form .control-groups+.control-groups {
    background-color: black;
}

.flex-spacer {
    background: black;
}

.channel-notification-settings .content label {
    color: white;
    opacity: 1;
}

.radio .radio-inner input[type=radio]:checked+span:after {
    background: red;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background: red;
    border-color: red;
}

.radio .radio-inner span:after {
    background: red;
}

.form .btn-primary {
    background: red;
    opacity: 1;
}

#bd-customcss-detach-container #bd-customcss-detach-controls-buttons button {
    background: red;
}

.form .control-group input[type=text]:focus, .form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=number]:focus, .form .control-group textarea:focus {
    border-bottom: 2px solid #ff0000;
}

#instant-invite-modal .form-actions {
   	background: black;
    color: white;
    opacity: 1;
}

#instant-invite-modal .expire-text {
    color: white;
    opacity: 1;
}

#instant-invite-modal .form-header header {
    color: red;
    opacity: 1;
}

#instant-invite-modal .blurb {
    color: white;
    opacity: 1;
}

.form .control-group label a:hover {
    color: red;
}

.form .control-group label a {
    color: red;
}

.form .btn-default {
    background-color: transparent;
    border-bottom: 0px solid #fff;
    color: red;
}

.form .btn-default:hover {
    border-bottom: 0px solid #fff;
}

.modal-content .form-inner p {
  	color: white;
}

#instant-invite-modal .clipboard-input-inner input {
    background-color: black;
    color: red;
}

#instant-invite-modal .copy {
    background-color: red;
    color; white;
}

#instant-invite-modal-advanced .form-actions {
    background-color: black;
}

.form .btn-primary:hover {
    background-color: red;
}

.instant-invites {
    background-color: black;
    color: white;
}

.instant-invites .instant-invites-header>:first-child {
    color: white;
}

.settings .settings-inner .settings-panel-header {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite .show-channel .channel {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite .show-channel .member {
    color: red;
}

.instant-invites .instant-invites-list .instant-invite .code {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite+.instant-invite {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite .countdown.countdown-never {
    color: red;
}

.settings .settings-inner .settings-panel-with-header {
    background: black;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p {
    color: white;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-header {
    background: black;
    color: white;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations .integration-logos {
    color: white;
}

.settings .settings-inner .settings-panel-header {
    background: black;
}

.guild-settings-modal-members {
    background: black;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
    color: red;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
    color: red;
}

.guild-settings-modal .emoji-row .btn, .guild-settings-modal .member-buttons .btn {
    background-color: red;
    color: white;
}

.guild-settings-modal .emoji-row .btn:hover, .guild-settings-modal .member-buttons .btn:hover {
    background-color: red;
    color: white;
}

.guild-settings-modal .emoji-row .btn+.btn, .guild-settings-modal .member-buttons .btn+.btn {
    color: white;
}

.guild-settings-modal .emoji-row .btn.btn-danger:hover, .guild-settings-modal .member-buttons .btn.btn-danger:hover {
    background: red;
}

.search-bar.search-bar-light {
    background: red;
}

.search-bar.search-bar-light input {
    color: white;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
    color: red;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a {
    color: red;
}

.guild-settings-modal-members h6 {
    color: white;
}