//META{"name":"DarkTheme","description":"A nicer Dark theme for Discord, remade into something spectacular with frequent updates.","author":"xSklzx Dark","version":"0.0"}*//{}

.theme-dark .message-group:not(.has-divider) {
	background: rgb(0, 0, 0);
}

.chat .messages {
    background-color: rgb(0, 0, 0);
}

.chat .empty-message h1 {
    color: white;
}

.flex-horizontal>.flex-spacer {
    background-color:rgb(0, 0, 0);
}

.theme-dark .channel-textarea-inner {
    background-color: rgb(0, 0, 0);
	opacity: 1;
    color: white !important;
}

.theme-dark .chat form .typing {
    background: transparent !important;
}

.theme-dark .message-group .comment .markup {
    color: white;
}

.channel-textarea-inner textarea {
    color: white;
    background-color: rgb(0, 0, 0);
}

.theme-dark .channel-textarea-inner textarea {
    background: transparent;
    color: rgb(255, 255, 255);
}

.bot-tag {
    background-color: red;
}

.chat .avatar-large {
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 30%;
}

.account {
    background: black;
    border-top: 1px solid #2e3033;
}

.scroller-wrap .scroller {
    background: black;
}

.guild-channels .channel-text.selected a {
    background-color: #000000;
}

.guild-channels .channel-text .channel-name {
    color: white;
}

.guild-channels .channel .channel-name {
    color: white;
    opacity: 1;
}

.guild-channels .channel-text:hover a {
    background: transparent;
}

.guild-channels .channel a:hover {
    background: transparent;
}

.theme-dark .friends-table .messages .divider span, .theme-dark .friends-table .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before {
    background-color: red;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: white;
}

.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background-color: red;
}

.theme-dark .chat .title-wrap {
    background: black;
    border-bottom: 3px solid white;
}

.guild-header header {
    background: black;
    border-bottom: 3px solid white;
    padding-bottom: 25.5px;
}

.theme-dark .channel-members h2 {
    color: white;
}

.channel-members .avatar-small {
    width: 28.5px;
    height: 28.5px;
    background-size: cover;
    border-radius: 30%;
}

.theme-dark .channel-textarea-autocomplete-inner {
    background: black;
}

.theme-dark .channel-textarea-autocomplete-inner header {
    background: black;
    color: white;
}

.channel-textarea-autocomplete-inner ul li {
    color: white;
}

.channel-textarea-autocomplete-inner .command-description {
    color: white;
}

.popout-menu .popout-menu-item {
    background: black;
}

.popout-menu .popout-menu-item-label {
    color: white;
}

.popout-menu .popout-menu-icon {
    color: white;
}

.popout-menu .popout-menu-item:hover {
    background: black;
}

.form .control-group input[type=text], .form .control-group input[type=email], .form .control-group input[type=password], .form .control-group input[type=number], .form .control-group textarea {
    background: black;
    color: white;
}

.has-value>.Select-control>.Select-placeholder {
    color: white;
    opacity: 1;
}

.form .control-group {
    background: black;
    color: white;
}

.form .control-group label {
    color: red;
}

.settings .settings-actions {
    background-color: black;
    border-top: 0.5px solid #fff;
}

.tab-bar.SIDE {
    background-color: black;
    color: white;
}

.tab-bar.SIDE .tab-bar-item {
    color: white;
    opacity: 1;
}

.tab-bar.SIDE .tab-bar-item:before {
    border-left: 4px solid #ff0000;
}

.form .control-group .help-text {
    color: white;
    opacity: 1;
}

.guild-settings-modal-overview .settings-panel .verification-level-select .radio-group li .criteria {
    color: white;
    opacity: 1;
}

.guild-settings-modal-overview .settings-panel .verification-level-select .radio-group li.level-0 {
 	color: white;
    opacity: 1;
}

.form .control-group .help-text a {
    color: red;
}

.form .form-inner {
    background-color: black;
    border-top: 0px solid #fff;
}

.form .form-header {
    background: black;
    color: red;
    border-bottom: 0px solid #fff;
}

.form .form-actions {
    background-color: black;
    border-top: 0px solid #fff;
}

.form header {
    color: red;
}

.form .Select-placeholder {
    background: black;
    color: white;
}

.form .Select-option, .form .has-value .Select-placeholder {
    background: black;
    color: white;
}

.form .Select-option.is-focused {
    background: black;
   	color: white;
}

.notification-settings-modal .settings-section {
    background-color: black;
}

.form .control-groups+.control-group, .form .control-groups+.control-groups {
    background-color: black;
}

.notification-settings-modal .notification-settings-modal-channel-settings-header {
    background-color: black;
}

.form .control-groups+.control-group, .form .control-groups+.control-groups {
    background-color: black;
}

.flex-spacer {
    background: black;
}

.channel-notification-settings .content label {
    color: white;
    opacity: 1;
}

.radio .radio-inner input[type=radio]:checked+span:after {
    background: red;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background: red;
    border-color: red;
}

.radio .radio-inner span:after {
    background: red;
}

.form .btn-primary {
    background: red;
    opacity: 1;
}

#bd-customcss-detach-container #bd-customcss-detach-controls-buttons button {
    background: red;
}

.form .control-group input[type=text]:focus, .form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=number]:focus, .form .control-group textarea:focus {
    border-bottom: 2px solid #ff0000;
}

#instant-invite-modal .form-actions {
   	background: black;
    color: white;
    opacity: 1;
}

#instant-invite-modal .expire-text {
    color: white;
    opacity: 1;
}

#instant-invite-modal .form-header header {
    color: red;
    opacity: 1;
}

#instant-invite-modal .blurb {
    color: white;
    opacity: 1;
}

.form .control-group label a:hover {
    color: red;
}

.form .control-group label a {
    color: red;
}

.form .btn-default {
    background-color: transparent;
    border-bottom: 0px solid #fff;
    color: red;
}

.form .btn-default:hover {
    border-bottom: 0px solid #fff;
}

.modal-content .form-inner p {
  	color: white;
}

#instant-invite-modal .clipboard-input-inner input {
    background-color: black;
    color: red;
}

#instant-invite-modal .copy {
    background-color: red;
    color; white;
}

#instant-invite-modal-advanced .form-actions {
    background-color: black;
}

.form .btn-primary:hover {
    background-color: red;
}

.instant-invites {
    background-color: black;
    color: white;
}

.instant-invites .instant-invites-header>:first-child {
    color: white;
}

.settings .settings-inner .settings-panel-header {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite .show-channel .channel {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite .show-channel .member {
    color: red;
}

.instant-invites .instant-invites-list .instant-invite .code {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite+.instant-invite {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite {
    color: white;
}

.instant-invites .instant-invites-list .instant-invite .countdown.countdown-never {
    color: red;
}

.settings .settings-inner .settings-panel-with-header {
    background: black;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p {
    color: white;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-header {
    background: black;
    color: white;
}

.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations .integration-logos {
    color: white;
}

.settings .settings-inner .settings-panel-header {
    background: black;
}

.guild-settings-modal-members {
    background: black;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
    color: red;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
    color: red;
}

.guild-settings-modal .emoji-row .btn, .guild-settings-modal .member-buttons .btn {
    background-color: red;
    color: white;
}

.guild-settings-modal .emoji-row .btn:hover, .guild-settings-modal .member-buttons .btn:hover {
    background-color: red;
    color: white;
}

.guild-settings-modal .emoji-row .btn+.btn, .guild-settings-modal .member-buttons .btn+.btn {
    color: white;
}

.guild-settings-modal .emoji-row .btn.btn-danger:hover, .guild-settings-modal .member-buttons .btn.btn-danger:hover {
    background: red;
}

.search-bar.search-bar-light {
    background: red;
}

.search-bar.search-bar-light input {
    color: white;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
    color: red;
}

.guild-settings-modal-members .guild-settings-modal-members-footer a {
    color: red;
}

.guild-settings-modal-members h6 {
    color: white;
}

.theme-dark #friends .friends-header {
    background-color: black;
    border-bottom: 2px solid #fff;
    padding-bottom: 1px
}

#friends .friends-table .friends-row, #friends .friends-table .friends-table-header {
    background-color: black;
}

.theme-dark #friends {
    background-color: black;
}

.private-channels .search-bar {
    background-color: black;
    border-bottom: 2px solid #fff;   
}

.search-bar input {
    color: white;
}

.private-channels .channel .channel-name {
    color: white;
    opacity: 1;
}

.theme-dark #friends .friends-table .friends-table-header .friends-column {
    color: white;
}

#friends .friends-table .friend-table-add-wrapper .friend-table-add-description, #friends .friends-table .friends-row .discord-tag .username, #friends .friends-table .friends-row .friends-column-status .status-text {
    color: white;
}

#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 30%;
}

.private-channels .channel .avatar-small {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 30%;
}

.account .avatar-small {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 30%;
}

.private-channels .channel.selected .icon-friends {
    width: 25px;
    height: 25px;
    border-radius: 30%;
}

.tooltip {
    background: red;
}

.user-popout .header {
    background: black;
    border-bottom: 1px solid #fff;
}

.user-popout .username-wrapper .activity {
    color: white;
    opacity: 1;
}

.user-popout .username-wrapper.has-nickname .discriminator, .user-popout .username-wrapper.has-nickname .username {
    color: white;
    opacity: 1;
}

.user-popout .body {
    background: black;
}

.user-popout .footer {
    background: black;
    border-top: 1px solid #fff;
}

.quick-message {
    background: black;
    color: white;
    opacity: 1;
}

.user-popout .body .section .label {
    color: red;
}

.user-popout .body .section .label .icon {
    color: red;
}

.note textarea {
    color: white;
    opacity: 1;
}

.protip {
    color: white;
}

.member-roles .member-role.member-role-add {
    background: black;
}

.member-roles .member-role.member-role-add button {
    color: white;
}

.note textarea:focus {
    background: black;
}

.tooltip.tooltip-right {
    background: red;
}

.new-messages-indicator.new-messages-indicator-mention {
    background-color: red;
    opacity: 0.99;
}

.theme-dark .themed-popout .header {
    background: black;
    border-bottom: 1px solid #fff;
}

.context-menu .item {
    background: black;
}

.theme-dark.context-menu .item {
    color: white;
}

.context-menu {
    background: black;
}

.context-menu .item-group {
    background: black;
}

.theme-dark.context-menu .item-group {
    border-color: #fff;
}

.theme-dark.context-menu .item-subMenu {
    background: black;
    color: white;
}

.context-menu .item.danger {
    color: red !important;
}

#voice-connection {
    background: black;
    border-bottom: 0px;
}

#voice-connection .voice-connection-channel {
    color: white;
    opacity: 1;
}

.account .account-details .discriminator {
    opacity: 0.7;
}

.channel-textarea-inner textarea
    color: white !important;
    opacity: 1 !important;
}

.guild-settings-modal-emoji {
    background: black;
}

.guild-settings-modal-emoji .no-emoji {
    background: black;
}

.guild-settings-modal-emoji, .guild-settings-modal-emoji .no-emoji, .guild-settings-modal-members {
    background: black;
}

.guild-settings-modal-emoji .guild-settings-modal-emoji-header h6 {
    color: red;
}

.guild-settings-modal-emoji .guild-settings-modal-emoji-header p {
    color: white;
    opacity: 1;
}

.guild-settings-modal .emoji-row .btn.btn-danger, .guild-settings-modal .member-buttons .btn.btn-danger {
    color: white !important;
    opacity: 1 !important;
}

.guild-settings-modal-emoji .emoji-row:hover .emoji-name {
    background: black;
    color: white;
}

.guild-settings-modal-emoji .emoji-row .emoji-name {
    background: black;
    color: white;
}

.guild-settings-modal-emoji .table-header {
    color: white;
    opacity: 1;
}

.guild-settings-modal-emoji .emoji-uploader .emoji-uploader-username {
    color: white;
    opacity: 1;
}

.guild-settings-modal-emoji .emoji-uploader .emoji-uploader-avatar {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 30%;
}

.guild-settings-modal-emoji .emoji-row .emoji-name {
    border-color: #dadddf;
}

.guild-settings-modal-emoji .no-emoji p {
    color: white;
    opacity: 1;
}

.upload-modal {
    background: black;
    color: white;
    opacity: 1;
}

.upload-modal .footer {
    background: red;
}

.upload-modal .inner {
    border: 2px dashed red;
}

.upload-modal .inner .file .icon.image {
    border: 2px solid red;
}

.upload-modal .inner .comment .label .optional {
    color: red;
    opacity: 0.6;
}

.upload-modal .footer .button {
    background: transparent;
}

.upload-modal .footer .button-primary {
    color: white;
    opacity: 1;
}

.upload-modal .footer .button-primary {
	color: white;
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out
	-moz-transition: opacity .2s ease-in-out
	-o-transition: opacity .2s ease-in-out
	-ms-transition: opacity .2s ease-in-out
	transition: opacity .2s ease-in-out
}

.upload-modal .footer .button:hover {
	text-decoration: none;
}

.upload-modal .inner .comment .channel-textarea .channel-textarea-inner {
    border-color: #fff;
    border: 1px dashed white;
    border-radius: 10px;
}

.upload-modal .inner .comment .channel-textarea .channel-textarea-inner textarea {
    color: white;
}

.upload-drop-modal .inner {
	background-color: black;
	border: 2px dashed white;
}

.in .upload-drop-modal .bgScale {
	background-color: red;
}

.upload-drop-modal .inner .instructions {
	color: white;
}

.theme-dark #friends .friends-header .tab-bar .tab-bar-item {
    color: red;
    opacity: 1;
}

#friends .friends-table .friends-row .discord-tag .discriminator {
    color: red;
    opacity: 1;
}

.theme-dark #friends .friends-table .friend-table-add-wrapper h2 {
    color: red;
}

.theme-dark .add-friend-input-wrapper .add-friend-input {
    color: white;
    opacity: 1;
}

#friends .btn:hover {
    background: red !important;
}

#friends .btn {
    background: red;
    border: 1px solid white;
    border-radius: 7.5px;
}

.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-suggestions-header {
    background: black;
}

#friends .friends-table .friend-table-add-wrapper .friend-table-add-header .friends-table-add {
    background: black;
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: red;
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    width: 30px;
    height: 30px;
    border-radius: 30%;
}

#friends .friends-table .friends-row .avatar-large, #friends .friends-table .friends-row .avatar-small {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 30%;
}

.private-channels .channel .close {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 30%;
}

#friends .friends-table .friends-row .friends-suggestion-inner .friends-suggestion-info .friends-suggestion-platforms .friends-suggestion-platform-icon {
    width: 25px;
    height: 25px;
    border-radius: 30%;
}

#friends .friends-table .friends-row .friends-suggestion-inner .friends-suggestion-info .friends-suggestion-platforms .friends-suggestion-platform-name {
    font-size: 13px;
}

.small-popout-box {
    background: black;
}

.option-popout .btn-item {
    color: white;
    opacity: 1;
    border-top: 1px solid white;
}

.guild-channels header {
    color: white;
    opacity: 1;
}

.guild-channels .channel a {
    color: white;
    opacity: 1;
}

.settings .settings-inner .settings-panel {
    background: black;
}

.checkbox .checkbox-inner+span {
    color: white;
    opacity: 1;
}

#bd-customcss-detach-container {
    background: black;
}